<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>personalitation</title>
</head>
<body id="body" class="bg-slate-300 w-full flex flex-col items-center justify-center h-screen gap-8">


  <script src="personalitation.js"></script>
  <script src="getInformation.js"></script>
  <script src="showProducts.js"></script>
  <script src="addProduct.js"></script>
  <script src="deleteProduct.js"></script>
  <script src="categories.js"></script>
  <script src="addWatch.js"></script>
  <script src="addGlasses.js"></script>
  <script src="addBracelets.js"></script>
</body>
</html>