<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5b4e3ea55f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Ecommerce</title>
</head>
<!-- <div class="bg-gray-100 w-10 h-7 fixed"></div> -->
<body id="body" class="font-principal font-bold w-full bg-slate-300 flex flex-wrap">
    

<script src="nav.js"></script>
<script src="slider.js"></script>
<script src="registered.js"></script>
<script src="noRegistered.js"></script>
<script src="eventHamburguer.js"></script>
<script src="main.js"></script>
<script src="myProducts.js"></script>
<script src="footer.js"></script>
<script src="searchImage.js"></script>
<script src="extractCategories.js"></script>
<script src="closeSection.js"></script>
</body>
</html>