<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5b4e3ea55f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Nicho</title>
</head>
<body class="font-principal font-bold w-full bg-slate-300 flex flex-wrap">
 
    <script src="showProducts.js"></script>
    <script src="noRegistered.js"></script>

</body>
</html>